html {
    font-size: 16px;
}

body {
    margin: 0;
    background-image: linear-gradient(white, white 50%, rgb(221, 221, 221) 100%);
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    gap: 2vh 2vw;
}

/* i figli diretti del flex container, i flex item */
.flex>* {
    flex: 1 0 auto;
}

.grid {
    display: grid;
    padding: 0;
    margin: 0;
    /* griglia adattiva */
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 2vh 2vw;
}

#full-main {
    margin: 0 4vw;
}