.featured-wrapper{
    display: flex;
    overflow: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* .featured-wrapper::-webkit-scrollbar{
    width: 0;
} */

.card{
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: solid 1px #d9d9d9;
}

.img-card-featured {
    width: 260px;
    height: 146px;
    border-radius: 5px;
    border: solid 1px #d9d9d9;
}

.img-card-featured:hover {
    transform: translateY(-20px);
    transition: 0.3s;
}

.n-s, .n-sw{
    margin-left: 15px;
}
.n-sw{
    padding-bottom: 4px;
    border-bottom: solid 2px red; 
}

.card-link{
    color: black;
    text-decoration: none;
}

.card-link:hover{
    color: red;
}